<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Главная - Laptop Store</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <section class="hero">
      <h1>Добро пожаловать в Laptop Store!</h1>
      <p>Откройте для себя новейшие модели ноутбуков по выгодным ценам.</p>
      <a href="/laptops" class="btn">Смотреть ноутбуки</a>
    </section>
  </body>
</html>
